@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px;
	transition: all .2s ease-in;
}

html, body {
  width: 100%;
  height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #e2e3e7;
}

li {
  list-style-type: none;
}

/***** SCROLL ********/


::-webkit-scrollbar{
	width: 6px;
}


::-webkit-scrollbar-thumb{
  border-color: #777;
  background-color: #ccd5e4;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
	border-width: 1px 1px 1px 2px;
	border-color: #555;
	background-color: #b8c1d0;
	cursor: pointer;
}

/****************************************/

.wrapper {
  width: 60%;
  height: 70%;

	padding-top: 10px;

	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 67px -4px rgba(46,74,117,1);
}

.header {
  width: 100%;
  height: 10%;

  font-size: 3em;
  text-align: center;
	letter-spacing: 5px;
	font-weight: bold;
	color: #555;
}

.content {
  width: 100%;
  height: 90%;
  display: flex;
}

.history {
  width: 25%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
	align-items: center;

	box-sizing: border-box;
  padding: 20px;

	position: relative;
}

.search {
  width: 80%;
  height: 40px;

	position: relative;

	border-bottom: 1px solid rgba(0,0,0, .3);
}

#main-content__search {
  width: 70%;
  height: 40px;

  border-radius: 15px;

	padding-left: 20px;

  border: none;
  background: none;
  outline: none;
	position: absolute;
}

.list {
  width: 100%;
  height: 80%;

	overflow-y: scroll;
}

.item {
  width: 100%;
  height: 50px;

  padding: 20px 0 20px 0;

  display: flex;
  flex-flow: row;
  align-items: center;
	justify-content: space-around;

  border-bottom: 1px solid rgba(0,0,0, .2);
}

.circle {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
	border: 2px solid rgba(0,0,0, .3);
}

.circle:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0, .3);
}

.text {
  width: 80%;

  margin: 0px 20px 0 20px;
}

.delete {
  width: 20px;
  height: 20px;
	opacity: .5;
  background-image: url("../icons/x-mark-32.png");
	background-size: cover;
}

.delete:hover {
	cursor: pointer;
	opacity: .8;
}

.button {
  height: 40px;

	position: absolute;
	bottom: -20px;
	z-index: 1;

	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 1.6em;
	text-transform: uppercase;
	font-weight: 600;

	color: white;
}

.best {
  width: 25%;
  height: 100%;
}

.button__add {
	width: 150px;
  display: block;
	background-color: #0087fc;
}

.button__add:hover {
	cursor: pointer;
	box-shadow: 0px 0px 50px -4px rgba(46,74,217,1);
}

.button__yes {
	z-index: 0;
	width: 150px;
	font-size: 1em;
  display: none;
	background-color: #2eb324;
  left: calc(50% - 170px);
}

.button__yes:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
	left: 65px;
  width: 20px;
  height: 20px;

  background-image: url("../icons/x-mark-32.png");
  background-size: cover;
  transform: rotate(45deg);
}

.button__yes:hover {
  cursor: pointer;
	box-shadow: 0px 0px 50px -4px rgba(46,224,17,1);
}

.button__no {
	z-index: 0;
	width: 150px;
	font-size: 1em;
  display: none;
	background-color: #ff0000;
	left: calc(50% + 20px);
}

.button__no:before {
	content: '';
  display: block;
  position: absolute;
  top: 10px;
	left: 65px;
  width: 20px;
  height: 20px;

  background-image: url("../icons/x-mark-32.png");
  background-size: cover;
}

.button__no:hover {
  cursor: pointer;
	box-shadow: 0px 0px 50px -4px rgba(246,24,17,1);
}

.search:before {
	content: '';
	display: block;
	position: absolute;
	left: -35px;
	width: 32px;
	height: 32px;
	opacity: .5;
	background-image: url('../icons/search-32.png');
}

#add-input {
  width: 50%;
  height: 20px;
  display: none;
  border-bottom: 1px solid rgba(0,0,0, .3);
}

#main-content__add-input {
  width: 90%;
  height: 20px;

  border-radius: 15px;

	padding-left: 20px;

  border: none;
  background: none;
  outline: none;
	position: absolute;
}

.true {
  background-color: #2eb324;
  border: 0;
}
