.preloader {
	visibility: visible;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 3;
}

.animation {
	width: 350px;
	height: 50px;
	margin: 0 auto;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.circle {
	margin-left: 10px;
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255, .8);
	display: inline-block;
	border-radius: 50%;
	animation: circleinc 1.5s infinite;
}

#circle1 {
	animation-delay: 1s;
}

#circle2 {
	animation-delay: 1.15s;
}

#circle3 {
	animation-delay: 1.3s;
}

#circle4 {
	animation-delay: 1.45s;
}

#circle5 {
	animation-delay: 1.60s;
}

@keyframes circleinc{
	0% {
		transform: scale(1);
		background-color: rgba(0,0,0, .8);
	}

	100% {
		transform: scale(.3);
		background-color: rgba(255,255,255, 0);
		animation-delay: 2s;
	}
}