@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #6d6e71;
}

/************** DEFSTYLES ***************/

a {
	color: #000;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	font-weight: bold;
	list-style: none;
}

.like-icon span {
	float: right;
}



/************** HEADER ***************/

.header {
	width: 100%;
	height: 200px;
	border-bottom: 1px solid rgba(0,0,0, .2);
}

.logo {
	float: left;
	width: 400px;
	height: 100px;
}

.anim {
	margin: 0 auto;
	
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50%;
	background: linear-gradient(to bottom, #eee, #aaa);
	animation: anim 2s infinite;
}

.contact {
	float: left;
	width: 220px;
	height: 35px;
}

@keyframes an/im {
	0% {
		border-radius: 0;
	}
	
	20% {
		background: linear-gradient(to bottom, #eee, #bbb);
	}
	
	40% {
		transform: scale(.5);
		transform: skew(10deg, -10deg);
	}
	
	60% {
		transform: rotate(20deg);
	}

	80% {
		background: linear-gradient(to bottom, #eee, #aaa);
	}
	
	100% {
		border-radius: 50%;
	}
}

.logopic {
	box-sizing: border-box;
	width: 70px;
	height: 35px;
	display: inline-block;
}

#logo1 {
	background: url("images/phone-32.png") no-repeat center;
	opacity: .3;
	border-right: 2px solid rgba(0,0,0, .2);
}

#logo2 {
	background: url("images/mail-32.png")  no-repeat center;
	opacity: .3;
	border-right: 2px solid rgba(0,0,0, .2);
}

#logo3 {
	background: url("images/mail-32.png")  no-repeat center;
	opacity: .3;
}

.contact {
	padding-top: 70px;
	float: right;
	padding-right: 0px;
}

.content {
	position: relative;
	padding-top: 40px;
	padding-bottom: 55px;
	margin: 0 auto;
	width: 1170px;
	height: 100px;
}

/**************  MAIN  ***************/


.menu {
	height: 86px;
	box-sizing: border-box;
	text-align: justify;
}

.menu__item {
	line-height: 86px;
	display: inline-block;
	height: 86px;
	padding: 0 20px 0 0;
}

.menu__item:not(:last-child) {
	border-right: 1px solid rgba(0,0,0, .2);
}

.menu:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

.menu__items {
	padding-left: 20px;
	width: 800px;
	height: 86px;
	box-sizing: border-box;
	float: left;
}

.search {
	line-height: 86px;
	float: right;
	position: relative;
}

#input-search {
	border: 0;
	height: 32px;
}

#label-search:before {
	content: '';
	position: absolute;
	display: block;
	background: url(images/search-32.png) no-repeat;
	opacity: .5;
	left: -45px;
	top: 28px;
	width: 32px;
	height: 32px;
	margin-left: 10px;
}

.main__content-menu {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	width: 1170px;
	height: 86px;
}

.main__content-image {
	width: 100%;
	height: 900px;
	background: url("images/background.jpg") no-repeat;
	background-size: cover;
}


/************** SLIDER ***************/

.main__content {
	position: relative;
}

.main__content-slider {
	float: right;
	margin-top: -407px;
	width: 750px;
	height: 240px;
	background-color: rgba(255,0,0, .3);
}

.slider-el {
	float: left;
	width: 40%;
	height: 100%;
}

.slider-button {
	position: relative;
	background-color: #f4f4f4;
	float: right;
	width: 20%;
	height: 100%;
}

.slider-left {
	background: url("images/green.jpg") no-repeat;
	background-size: cover;
}

.slider-right {
	background: url("images/yellow.jpg") no-repeat;
	background-size: cover;
}

.slider-button:hover {
	cursor: pointer;
}

.slider-like {
	position: relative;
	background-color: rgba(255,255,255, .3);
	margin-top: 55%;
	width: 100%;
}

.like-icon {
	color: white;
	width: calc(10% + 50px);
	height: 75px;
	margin: 0 auto;
	line-height: 75px;
}

.like-icon > span:before {
	content: '';
	position: absolute;
	display: block;
	background: url("images/favorite-3-32.png") no-repeat;
	left: 120px;
	top: 23px;
	width: 32px;
	height: 32px;
}
.slider-button:before {
	content: '';
	opacity: .3;
	position: absolute;
	display: block;
	background: url("images/arrow-30-32.png") no-repeat;
	left: 66px;
	top: 100px;
	width: 32px;
	height: 32px;
}



/**************  content  ***************/


.main__content-info {
	width: 100%;
	min-height: 400px;
	margin-bottom: 30px;
}

.content-text {
	position: relative;
	width: 400px;
	height: 100%;
	padding: 20px 40px 40px 130px;
}

.content-left {
	float: left;
}

.content-right {
	float: right;
}

.content-left:before {
	content: '';
	position: absolute;
	display: block;
	background: url("images/icon_lamp.PNG") no-repeat;
	left: 0;
	width: 130px;
	height: 130px;
}

.content-right:before {
	content: '';
	position: absolute;
	display: block;
	background: url("images/icon_tree.PNG") no-repeat;
	left: 0;
	width: 130px;
	height: 130px;
}

.main__content-title {
	padding-top: 25vh;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	position: relative;
}

.strong {
	letter-spacing: 2px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-size: 50px
}

.light {
	letter-spacing: 3px;
	padding-left: 140px;
	font-size: 30px;
	font-weight: lighter;
	color: white;
	font-family: "Microsoft JhengHei UI Light";
}

.light:before {
	content: '&';
	position: absolute;
	display: block;
	left: 3.5vw;
	top: 25vh;
	font-size: 100px;
	color: blue;
	font-weight: 900;
	opacity: .2;
}

.content-text > p {
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 10px;
}

.like-icon > span {
	color: white;
}

.footer {
	width: 100%;
	height: 60px;
}
