* {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 12px;
	color: white;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

span {
	color: #677b92;
}

a {
	text-decoration: none;
	color: #677b92;
}

a:hover {
	color: white;
}

.wrapper {
	height: calc(100%);
	width: 100%;
	display: flex;
}

li {opacity: .5;}
input:focus { outline: none; }
input { color: black; padding-left: 10px; }


.menu__search::before {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	right: 30px;
	background: url("../images/icons/search-12-24.png") no-repeat;
	background-size: cover;
	opacity: .4;
}

/********************** HEADER ****************************/

.header {
	background: #2f364a;
	width: 100%;
	height: 4.5%;
	min-height: 45px;
	display: flex;
	justify-content: flex-end;
}


.header__content {
	min-width: 370px;
	max-width: 400px;
	height: 100%;
}

.item_small {
	width: 100px;
}

.item_middle {
	width: 120px;
}

.item_large {
	width: 150px;
}

.item {
	height: 100%;
	position: relative;
}

.item:hover {
	opacity: 1;
	background-color: #15a4fa;
	cursor: pointer;
	color: white;
}

.list {
	list-style-type: none;
	width: 100%;
	position: relative;
}

.list__item {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}


.list__item_history {
	min-height: 75px;
	display: flex;
	padding-left: 20px;
}

/***** SUPP *****/

.circle {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

/***** SCROLL ********/


::-webkit-scrollbar{
    width: 6px;
}


::-webkit-scrollbar-thumb{
    border-color: #777;
    background-color: #ccd5e4;
	border-radius: 50px;
	width: 1px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #b8c1d0;
	cursor: pointer;
}


/***** USER *****/

.block-content_center {
	display: flex;
	align-items: center;
	justify-content: space-around;
}



/****************/



/********************** SIDEBAR ****************************/

.sidebar {
	width: 100%;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.field {
	width: 100%;
	background-color: #1f2637;
	display: flex;
	padding: 20px 0 20px 0;
	margin-bottom: 5px;
}

.button {
	min-width: 160px;
	width: 65%;
	height: 44px;
	background: #f2795a;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	border: 0;
	border-radius: 5px;
	position: relative;
	padding-left: 20px;
}

.button-text {
	min-width: 100px;
}

.button-text:before {
	content: '';
	display: block;
	position: absolute;
	left: 14px;
	top: 14px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/plus-16.png") no-repeat;
	background-size: cover;
}

.button:hover {
	cursor: pointer;
}

.item_text-history {
	max-width: 90%;
	min-width: 20%;
	padding-left: 30px;
}

.item_text-history:before  {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/time-2-16.png");
}

.history__field {
	width: 100%;
	min-height: 250px;
	padding-right: px;
}

.item_icon-must:before {
	background: #e64c66;
}
.item_icon-best:before {
	background: #ffab00;
}
.item_icon-clasic:before {
	background: #00bfdd;
}
.item_icon-non:before {
	background: #7874cf;
}

.item_icon-now:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/book-16.png") no-repeat;
}
.item_icon-browse:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/globe-16.png") no-repeat;
}
.item_icon-buy:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/buy-16.png") no-repeat;
}
.item_icon-books:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/star-8-16.png") no-repeat;
}
.item_icon-wishlist:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/list-2-16.png") no-repeat;
}

.item_icon-history:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../images/icons/time-2-16.png") no-repeat;
}



/********************* MAIN-CONTENT**************************/


.main-content__header { /* ??? */
	width: 100%;
	height: 120px;
}

.main-content {
	width: 100%;
}

.main-content__title {
	widht: 100%;
	height: 60px;
	background: #eef1f7;
	box-sizing: border-box;
	border-bottom: 2px solid #dadfea;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.main-content__menu {
	background: #eef1f7;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 2px solid #dadfea;
	display: flex;
}

.menu__items {
	width: 40%;
	height: 100%;
}

.menu__item {
	min-width: 80px;
	height: 20px;
	border-radius: 10px;
	color: #8c97b2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__item:hover {
	opacity: 1;
	color: white;
	background: #97b3ce;
	cursor: pointer;
}

.menu__search {
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding-right: 20px;
}

.search {
	width: 400px;
	height: 30px;
	border-radius: 15px;
}

.title__text {
	color: #444c63;
	font-size: 1.8em;
}

/********************** MAIN ****************************/

.main-content__field {
	width: calc(100%  - 16px);
	height: calc(100% - 213px);
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: scroll;
	overflow-x: hidden;
}

.content__book {
	width: 200px;
	height: 350px;
	margin: 30px 10px 15px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content__book:hover {
	cursor: pointer;
}

img {
	width: 100%;
	height: 275px;
	border-radius: 5px;
}

.book_image {
	width: 100%;
	height: 275px;
}

.book_title {
	color: #444c63;
	font-size: 1.5em;
}

.book_author {
	color: #6f7d95;
	font-size: 1em;
}

.book_rating {
	color: yellow;
	font-size: 1.5em;
}

.button__field {
	min-height: 115px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list__field {
	min-height: 220px;
	display: flex;
}

/********************** FOOTER ****************************/


.footer {
	height: 4.5%;
	min-height: 45px;
  margin-top: -90px;
  position: relative;
	background: #181e2c;
	display: flex;
	justify-content: flex-end;
}


.footer__button {
	width: 55px;
	height: 45px;
	background-color: #1f2637;
}

.button_icon {
	opacity: .3;
	width: 16px;
	height: 16px;
	background-color: white;
}

.button_icon_question {
	background: url("../images/icons/question-mark-4-32.png") no-repeat;
	background-size: cover;
}

.button_icon_settings {
	background: url("../images/icons/gear-2-32.png") no-repeat;
	background-size: cover;
}

.menu__field {
	min-height: 280px;
}

.slidebar__field {
	width: 18%;
	min-width: 200px;
	height: 93.0%;
	background: #2f364a;
	overflow-x: scroll;
}

.history {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
}

.user-account:after {
	content: '';
	display: block;
	position: absolute;
	left: 6px;
	top: 6px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 3px solid white;
	background: url("../images/icons/face.jpg");
}

.user-account:before {
	content: '';
	display: block;
	position: absolute;
	left: 125px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
}

.item_align {
	padding-left: 30px;
}

.item_text {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.item_text:before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.rating {
	height: 15px;
	width: 100%;

	display: flex;
	justify-content: flex-start;
}

.star {
	width: 14px;
	height: 14px;
	background: url('../images/icons/stars.png') no-repeat;
}

/******************************************************/

.rating-star__full {
	background-position: 0px;
}

.rating-star__empty {
	background-position: -57px;
}

#add-book_field {
	width: 80%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	display: none;
}

#add-book_field > label {
	color: grey;
	font-weight: bold;
}

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-book_input {
	width: 70%;
	height: 25px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.button__small {
	margin-top: 15px;
	font-size: 1em;
	text-align: center;
	width: 100px;
	height: 30px;
	padding-left: 0px;
}


input[type="file"] {
	width: 100%;
	height: 30px;
	opacity: 0;
}

#choose-image__text:before {
	content: 'Choose image';
	display: block;
	position: absolute;
	width: 100px;
	height: 30px;
	top: 8px;
}
