body {
	font-size: 15px;
	font-family: Tahoma;
}

td {
	padding: 15px 30px 20px;
}

tr:nth-child(odd):not(.header) {
	background-color: lightgray;
}

tr:nth-child(even) {
	background-color: #eee;
}

tr:hover:not(.header) {
	background-color: #aaa;
	cursor: pointer;
}

table {
	text-align: center;
}

.header {
	background-color: #bbb;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bolder;
	color: grey;
}