body {
	padding: 0;
	margin: 0;
}

div {
	float: left;
	position: absolute;
}

#image1 {
	position: absolute;
	float: none;
}

#image2, #image3, #image4 
#image5, #image6, #image7 {
	top: 0px;
	left: 0px;
	margin-left: -100px;
}


.container {
	width: 100%;
	height: 450px;
	margin-left: -50px;
}
